<!doctype html>
<html>
  <head>
    <title>Home page</title>
  </head>
  <body>
		<section>
		  <form method="post" action="/add_exercise_name/">
		  	  <legend>Add New Exercise Name:</legend>
		  	  <label for="name" style="display: none;">Input the name of your exercise please</label>
		  	  <input id="name" name="name" min="1" max="32" required></input>
		  	</fieldset>

		    <button type="submit">submit</button>
		  </form>
		  </section>

		<section>
		  <form method="post" action="/add_workout_log/">
		    <fieldset>
		  	  <legend>Select Excercise:</legend>
		  		<label for="exercise" style="display: none;">Choose your exercise name.</label>
		  		<select id="exercise" name="exercise" required>
					  {{ range .Exercises }}
		  		  <option 
						value="{{ .Id }}">{{ .Name }}</option>
					  {{ end }}
		  		</select>
		    </fieldset>

		    <fieldset>
		  	  <legend>Select Weight:</legend>
		  		<label for="weight" style="display: none;">Choose weight value in pounds.</label>
		  		<select id="weight" name="weight" required>
					  {{ range .Weights }}
						<option value="{{ . }}">{{- . }} lbs</option>
						{{ end }}
		  		</select>
		    </fieldset>

		  	<fieldset>
		  	  <legend>Select Number of Reps:</legend>
		  	  <label
					for="nreps" 
					style="display: none;">Add the Number of Reps You Completed</label>
		  	  <input
					id="nreps"
					name="nreps"
					type="number"
					inputmode="numeric"
					value="1"
					min="1"
					required></input>
		  	</fieldset>

		  	<fieldset>
		  	  <legend>Select Duration In Seconds:</legend>
		  	  <label
					for="durationseconds" 
					style="display: none;">This is the number of seconds total it took to complete your event</label>
		  	  <input
					id="durationseconds"
					name="durationseconds"
					type="number"
					inputmode="numeric"
					value="0"
					required></input>
		  	</fieldset>

		  	<fieldset>
		  	  <legend>Select Distance Travelled in Metres:</legend>
		  	  <label
					for="nreps" 
					style="display: none;">This is the number of metres total you covered over the event</label>
		  	  <input
					id="distancemetres"
					name="distancemetres"
					type="number"
					inputmode="numeric"
					value="0"
					required></input>
		  	</fieldset>

		  	<fieldset>
		  	  <legend>Notes:</legend>
		  	  <label
					for="notes"
					style="display: none;">Additional Notes</label>
		  	  <input
					id="notes"
					name="notes"
					type="text"
					min="0"
					max="256"
				  ></input>
		  	</fieldset>
		    <button type="submit">submit</button>
		  </form>
		</section>
  </body>
</html>
